.totle-comments{
    color:$third-color-text;
}
.list-group-item{
    color:$primary-color-text;
}
.list-group-item.active ,.card-header,.btn-outline-primary{
    background-color:$primary-color-bg;
    color:$primary-color-text;
    border-color:$border-color;
}
.list-group-item{
    small{
        color:$third-color-text;
    }
}
.card{
    img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    small{
        color:$third-color-text;
    }
    a{
        color:$primary-color-text;
    }
    code{
        color:$button-click;
        background:$primary-color-bg;
    }
}
.card-body{
    .media-body{
        border-bottom: 1px solid $button-hover;
    }
}

// 按鈕樣式
.btn-primary{
    color:$primary-color-text;
    background-color: $secondary-color-bg;
    border-color: transparent;
}

.btn-outline-primary{
    background-color:transparent;
}
.btn-outline-primary:hover,.btn-primary:hover{
    border-color:$border-color;
    background-color:$button-hover;
    color:$primary-color-text;
}
.btn-mark,.btn-reply{
    padding: 0.5rem 2rem;
}
