.totle-comments{
    color:$third-color-text;
}
.list-group-item{
    color:$primary-color-text;
}
.list-group-item.active ,.card-header,.btn-outline-primary{
    background-color:$primary-color-bg;
    color:$primary-color-text;
    border-color:$border-color;
}
.list-group-item{
    small{
        color:$third-color-text;
    }
}
.card{
    img{
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    small{
        color:$third-color-text;
    }
    a{
        color:$primary-color-text;
    }
    code{
        color:$button-click;
        background:$primary-color-bg;
    }
}
.list-group-item,.card{
    p{
        font-size: 0.75rem;
    }
    h4{
        font-weight: bold;
        font-size: 1rem;
    }
}
.card-body{
    .media-body{
        border-bottom: 1px solid $button-hover;
    }
}
