/* 查看區塊設定 */
/* .container{
    background: pink;
} */
// .row{
//     background: blue;
// }

/* .container-fluid{
    background: yellow;
} */

// 高度相關設定
.h-800{
    height: 800px;
}
.h-759{
    height: 759px;
}
.h-400{
    height: 400px;
}
// 圖片背景設定
.bg-cover{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

// 背景顏色相關設定
.bg-black{
    background: #000;
}

// a 連結顏色設定
// .link-black{
//     color:black !important;
// }

