<!DOCTYPE html>
<html lang="en">
<head >
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%- title %></title>
    <!-- BS4 CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- MY CSS -->
    <link rel="stylesheet" href="./assets/style/all.css">
    <!-- material icon -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!-- BS4 JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</head>
<body>
  <div class="wrap">
    <!-- 左邊區塊 -->
    <nav class="sidebar text-left list-unstyled d-flex flex-column justify-content-between">
        <div class="sidebar-content">
          <h1>
            <a href="./assignment.html"><img src="./assets/images/logo-ANSWER.svg" alt=""></a>    
          </h1>
          <ul class="sidebar-list">
            <li class="mb-3"><a href="#"><i class="material-icons">insert_chart</i> Dashboard</a></li>
            <li class="mb-3"><a href="#"><i class="material-icons">forum</i>Question</a></li>
            <li class="mb-3 active"><a href="./assignment.html"><i class="material-icons">assignment</i>Assignment</a></li>
            <li class="mb-3"><a href="#"><i class="material-icons">video_library</i>Course</a></li>
            <li class="mb-3"><a href="./admin.html"><i class="material-icons">supervisor_account</i>Admin</a></li>
            <li class="mb-3"><a href="#"><i class="material-icons">settings</i>Settings</a></li>
          </ul>
        </div>
        <h4 class="sidebar-user d-flex align-items-center">
          <img src="./assets/images/andychen.jpeg" alt="">
          <div class="user-login">
            <p>Andy Chen</p>
            <small>andy0401@mail.com</small>
          </div>
        </h4>
    </nav>
    <!-- 右邊區塊 -->
    <main class="container">
        <%- contents %>
    </main>
  </div>
</body>
</html>
