// 變數設定
// 1. 藍色系
$primary:#99CCFF;
$second-light:#CCFFFF;
$third-dark:#6699CC;
// 2.紫色系
$primary-bg:#CECEFF;
/* 全域設定 */
body {
    font-family: '微軟正黑體';

    /* font-size: 16px; */
}
ul,ol {
    list-style: none;
}
mark{
    background:$primary-bg;
    // color:$third-dark;
    border-radius: 0.5rem;
    border-bottom: 0.25rem solid $third-dark;
    // border:1px solid $third-dark;
}
// mixin
@mixin phone{
    @media (max-width: 324px) {
         @content;
    }
}
.whoami{
    /* color:black; */
    background-image: url("./resume-img/kyoto.jpg");
    height: 800px;
    .whoami-img{
        img{
            border-radius: 50%;
        } 
    }
    .whoami-Mao{
        // background: #000;
        background:rgba(0,255,204,0.45);
    }
}
.whoami-githubicon,.whoami-email{
    /* background: #000; */
    width: 50px;
    height: 50px;
}
.whoami-githubicon:hover {
    .whoami-githubicon1{
        display:none !important;
    }
    .whoami-githubicon2{
        display:block !important;
    }
}
.whoami-email:hover {
    .whoami-email1{
        display:none !important;
    }
    .whoami-email2{
        display:block !important;
    }
}
.myWorks{
   img{
    width: 100%;
   }
}
.myWorks a:hover{
    opacity: 0.7;
    font-size: 2rem;
    transition: all .5s ease-in-out;
}
.workExperience-list,.study-list{
    line-height: 2rem;
}
/* 工具區 */
// 背景設定
.bg-cover {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; 
}
// 時間軸
.timeLine,.timeLine-item{
    position:relative;
}
.timeLine-item{
    span{
        font-size: 1.5rem;
        z-index:1;
    }
}
.timeLine::before{
    content:""; 
    border-left: 5px solid $primary;
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    // @include phone(){
    //     border-left: 0.75rem solid $primary;
    //     left:2.25rem;
    // }
}
.timeLine-item::before{
    content:""; 
    width: 1.5rem;
    height: 1rem;
    background: $second-light;
    border: 2px solid $third-dark;
    position:absolute;
    border-radius: 8px;
    top:45%;
    left:-3.5rem;
    // @include phone(){
    //     border-radius: 50%;
    //     top:37%;
    //     width: 5rem;
    //     height: 5rem;
    //     left:-0.85rem;
    // }
}
